@charset "utf-8";
/************************************************************************
 * filename		: myclub.css
 * description	:
 * date			: 2014.06.16
************************************************************************/

@import url(layout.css);

.clfix:after	{ content:""; display:block; clear:both; }
.clfix			{ *zoom:1; }

/* My Club 관련 right 영역 css */
div.club_content { width:100%; }

/* margin & padding */
.mb10 { margin-bottom:10px !important; }
.mb30 { margin-bottom:30px !important; }

/* 클럽안내 */
div.explain { width:770px; height:461px; margin:13px 0 30px 0; padding:66px 0 0 0; background:url('/images/front/club/explain_img.gif') no-repeat 0 0; }
div.explain p.tit01 { margin:0 0 103px 334px; }
div.explain p.tit02 { margin-bottom:17px; text-align:left; }
div.explain p.dtl { text-align:left; }
div.explain ul:after { clear:both; display:block; content:""; }
div.explain ul { text-align:center; }
div.explain ul li { float:left; height:225px; }
div.explain ul li.r1 { padding:0 35px 0 55px; background:url('/images/front/club/benefit_bg01.gif') no-repeat center 115px; }
div.explain ul li.r2 { padding:0 26px 0 29px; background:url('/images/front/club/benefit_bg02.gif') no-repeat center 115px; border-left:1px solid #e4e4e4; }
div.explain ul li.r3 { padding-left:31px; background:url('/images/front/club/benefit_bg03.gif') no-repeat 64px 112px; border-left:1px solid #e4e4e4; }

div.mem_type { width:770px; }
div.mem_type h3.tit { margin-bottom:12px; }
div.mem_type ul.club_dtl:after { clear:both; display:block; content:""; }
div.mem_type ul.club_dtl { height:239px; padding:33px 0 27px 50px; border-top:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; }
div.mem_type ul.club_dtl li { float:left; }
div.mem_type ul.club_dtl li.dtl { height:240px; margin-left:89px; background:url('/images/front/club/icon_img.jpg') no-repeat center 106px; }
div.mem_type ul.club_dtl li.dtl h3 { margin-bottom:10px; }
div.mem_type ul.club_dtl li.dtl ul { margin-bottom:111px; }
div.mem_type ul.club_dtl li.dtl ul li { float:none; line-height:16px; }
div.mem_type ul.club_dtl li.dtl p a { display:inline-block; }

/* 클럽 정보 조회 로그인 */
div.login_box { margin:26px 0 30px 0; padding-bottom:18px; border-bottom:1px solid #d9d9d9; }
div.login_box ul li { float:left; margin-left:10px; }
div.login_box ul li:first-child { margin-left:0; } 
div.login_box ul li h3 { margin-bottom:15px; }
div.login_box ul li div.mem_box { width:380px; height:177px; margin-bottom:19px; padding:36px 0 0 0; background-color:#f7f7f7; border-top:1px solid #f10519; border-bottom:1px solid #d9d9d9; text-align:center; }
div.login_box ul li div.mem_box p.txt { margin-bottom:28px; }
div.login_box ul li dl { padding-left:14px; }
div.login_box ul li dl dt { margin-bottom:9px; }
div.login_box ul li dl dd { color:#757575; text-indent:-6px; line-height:16px; }

div.benefit_box { margin-bottom:20px; }
div.benefit_box ul li { float:left; width:322px; height:280px; margin-left:10px; padding:21px 28px 0 26px; border:1px solid #d6d6d6; }
div.benefit_box ul li:first-child { margin-left:0; }
div.benefit_box ul li h3 { margin-bottom:23px; }

/* 클럽 정보 조회/수정 */
div.level_box { width:734px; height:109px; margin:13px 0 40px 0; padding:18px; background:url('/images/front/club/my_club_bg.gif') no-repeat 0 0; }
div.level_box div.level_line { float:left; width:189px; }
div.level_box div.level_line ul li:first-child { margin-bottom:20px; }
div.level_box div.level_line ul li .mark { height:55px; padding-left:72px; background:url('/images/front/club/customer_level01.gif') no-repeat 0 0; color:#666; font:16px malgun, "Malgun Gothic"; line-height:22px; }
div.level_box div.level_line ul li .mark span { display:inline-block; color:#2a80c0; font:18px malgun, "Malgun Gothic"; }
div.level_box div.level_line ul li .level { color:#333; }
div.level_box div.level_line ul li .level span { display:inline-block; color:#2a80c0; font:14px malgun, "Malgun Gothic"; font-weight:bold; }
div.level_box div.club_view { float:left; padding-left:23px;}
div.level_box div.club_view h3 { margin-bottom:10px; color:#33335a; font:14px malgun, "Malgun Gothic"; }
div.level_box div.club_view .txt01 { margin-bottom:10px; color:#999; }
div.level_box div.club_view .txt02 { margin-bottom:10px; color:#33335a; font:14px malgun, "Malgun Gothic"; }
div.level_box div.club_view .txt02 span { color:#227cb9; font-weight:bold; }
div.level_box div.club_view .btn_box { text-align:center; }

div.list_box { margin-bottom:20px; }
div.list_box h3 { margin-bottom:16px; color:#333; font:18px malgun, "Malgun Gothic"; font-weight:bold; }
div.list_box h3 span { display:inline-block; font:13px malgun, "Malgun Gothic"; }
div.list_box table { width:100%; }
div.list_box table thead th { padding:10px 0 13px 0; _padding:12px 0 11px 0; background-color:#f4f4f4; border-top:1px solid #c7c7c7; border-bottom:1px solid #dedede; color:#666; font:13px malgun, "Malgun Gothic"; font-weight:bold; line-height:16px; text-align:center; }
div.list_box table thead th.line { background:#f4f4f4 url('/images/front/club/line-th-basket.gif') no-repeat right 0; }
div.list_box table tbody td { padding:10px 0 13px 13px; border-bottom:1px solid #dedede; color:#666; font:12px malgun, "Malgun Gothic"; letter-spacing:0; }
div.list_box table tbody td.txt_line { line-height:24px; }
div.list_box table tbody td.txt_line a  { margin-left:4px; }
div.list_box table tbody td.children a { margin-left:4px;}
div.list_box table tbody td.children a img { margin-top:4px; }
div.list_box .alignC { text-align:center; }
div.list_box .alignR { text-align:right; }

/* 가입방법 및 혜택 */
div.method_box { width:770px; margin-top:21px; }
div.method_box ul.tab_line { width:770px; height:33px; margin-bottom:20px; }
div.method_box ul.tab_line li { position:relative; float:left; }
div.method_box p.benefit { margin-bottom:20px; }

div.method_box div.step_box { margin-bottom:40px; }
div.method_box div.step_box h3 { margin-bottom:10px; }

div.method_box div.mem_out { width:770px; margin-bottom:90px; }
div.method_box div.mem_out h3 { margin-bottom:14px; }
div.method_box div.mem_out dl { position:relative; border-top:2px solid #c7c7c7; border-bottom:1px solid #dedede; }
div.method_box div.mem_out dl dt { float:left; width:115px; height:53px; padding:31px 0 0 15px; background-color:#f4f4f4;}
div.method_box div.mem_out dl dd { float:left; padding:20px 0 0 19px; line-height:18px; }
div.method_box div.mem_out dl dd a { position:absolute; top:24px; right:9px; }

/* 클럽이용약관 */
div.terms { width:770px; margin-top:47px; }
div.terms h4 { position:relative; padding:11px 0 10px 16px; background:#f5f5f5; border-top:1px solid #c7c7c7; border-bottom:1px solid #c7c7c7; color:#666; font-weight:bold; }
div.terms h4 .btn_top { position:absolute; top:9px; right:13px; display:block; width:24px; height:24px; background:url("/images/front/club/btn_top.gif") no-repeat 0 0; }
div.terms h4 .btn_top a { display:block; width:24px; height:24px; font-size:0; text-indent:-99999px; }

div.terms div.cs_desc { padding:10px 15px 25px; line-height:20px; }
div.terms div.cs_desc ol.list_num	li	{ padding-left:17px; line-height:20px; text-align:justify; }