@charset "utf-8";
/************************************************************************
 * filename		: base.css
 * description	: base, CSS import
 * date			: 2011.08.06
************************************************************************/

@font-face {font-family:malgun; src:url('/images/front/malgun.eot');}
@font-face {font-family:malgun; src:url('/images/front/malgun.ttf');}


*	{margin:0; padding:0; border:0}

html	{}

.skip_navi	{position:absolute; visibility:hidden; left:-3000px; top:-3000px; width:0; height:0; font-size:0; line-height:0; overflow:hidden}

body	{background-color:#FFF; font:13px malgun, sans-serif; color:#666; letter-spacing:-1px; line-height:100%;}
body#body_ifr	{background:none #FFF;}
body#popup	{background:none #FFF;}
body#ifr_lpop	{background:none #FFF;}

a			{color:#666; text-decoration:none}
a:hover		{color:#666; text-decoration:underline}
a:active	{color:#666; text-decoration:none}

img	{border:0;}
p	{margin:0; padding:0}
ul, ol	{list-style:none; margin:0; padding:0}
ol, li	{margin:0; padding:0}
dl, dt, dd	{margin:0; padding:0; vertical-align:top}
img		{font-size:0}
table	{margin:0; padding:0; table-layout:fixed; border-collapse:collapse}
table	td	{word-wrap:break-word;}
caption,	legend	 {visibility:hidden; width:0; height:0; font-size:0; line-height:0; overflow:hidden;}
hr		{display:none}

h1, h2, h3, 
h4, h5, h6	{font:13px malgun, sans-serif}

/* form */
form,legend	{margin:0; padding:0}
input		{color:#999; font:normal 12px Dotum, sans-serif; letter-spacing:0px; vertical-align:middle;}
/*input.no	{margin:0px; padding:0; background:transparent; vertical-align:middle; border:none}
input.file	{height:14px; padding:4px 5px 0 18px; background-color:#FFF; border:1px solid #dedede; background:url('/images/front/common/bg-input-file.gif') no-repeat 0 0;}*/
/* form - input_txt */
.input_txt	{display:inline-block; height:20px; background:url('/images/epc/edi/consult/input-text-r.gif') no-repeat right top;}
.input_txt	span	{display:inline-block; height:18px; padding:2px 10px; .padding:0 10px 2px 10px; background:url('/images/epc/edi/consult/input-text-l.gif') no-repeat left top;}
input.txt	{height:14px; padding:2px 0 0 0;}
	:root	input.txt	{height:16px; padding:0 0 0 0;}
input.chk	{width:13px; height:13px; vertical-align:middle;}
.label	{padding-left:4px;}

select	{height:18px; border:1px solid #9e9e9e; font:12px Dotum; color:#999; vertical-align:middle;}


/* form - input_textarea */
.box_form	{background:url('/images/front/common/box-form-lt.gif') no-repeat 0 0 #FFF;}
.box_form_rb	{background:url('/images/front/common/box-form-rb.gif') no-repeat right bottom;}
.box_form_rt	{background:url('/images/front/common/box-form-rt.gif') no-repeat right 0;}
.box_form_lb	{padding:9px 2px 9px 9px; background:url('/images/front/common/box-form-lb.gif') no-repeat 0 bottom;}
.box_form	textarea	{width:100%; height:100%; background-color:#FFF; color:#999; font:12px Dotum; line-height:16px; vertical-align:middle; overflow:auto;
	scrollbar-face-color: #fff;
	scrollbar-shadow-color: #e6e6e6;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #e6e6e6;
	scrollbar-darkshadow-color: #f3f3f3;
	scrollbar-track-color: #f3f3f3;
	scrollbar-arrow-color: #e6e6e6;
	scrollbar-base-color: #FFFFFF;}

/* rollover */
a.rollover img				{display:inline}
a.rollover img.over			{display:none}
a.rollover:hover			{border:0px; cursor:pointer}
a.rollover:hover img		{display:none}
a.rollover:hover img.over	{display:inline}


/* align */
.fl_left	{float:left}
.fl_right	{float:right}
.overflow	{overflow:auto; overflow:hidden; height:100%}
.clr		{clear:both; font-size:0; line-height:0; height:0;}
.clearfloat {*zoom:1; *height:1%; display:block;}
.clearfloat:after {content:""; display:block; clear:both; height:0; visibility:hidden; font-size:0;}

.al_middle	{vertical-align:middle}
.img_middle	{vertical-align:-3px; margin-right:3px;}
.al_top		{vertical-align:top}
.al_bottom	{vertical-align:bottom}
.al_left	{text-align:left}
.al_right	{text-align:right}
.al_center	{text-align:center}
.al_block	{display:block;}

.pos_rel	{position:relative;}
.none	{position:absolute; left:-5000px; top:-5000px; width:0; height:0; font-size:0; line-height:0; overflow:hidden}

/* font */
.t_roman	{font-family:"Times New Roman", Times, serif; font-style: italic;}
.t_malgun	{font-family:malgun;}

.t_11	{font:normal 11px Dotum;}
a.t_11,	a.t_11:hover,	a.t_11:active	{font:normal 11px Dotum;}

.t_12	{font:normal 12px Dotum;}
a.t_12,	a.t_12:hover,	a.t_12:active	{font:normal 12px Dotum;}

.t_13	{font:normal 13px malgun;}

.t_30	{font:30px malgun, sans-serif; color:#333;}
.t_30 em	{font-style:normal;}

.ls0	{letter-spacing:0 !important;}
.ls1	{letter-spacing:-1px !important;}

.lh16	{line-height:16px !important;}
.lh18	{line-height:18px;}
.lh20	{line-height:20px;}
.lh24	{line-height:24px;}

.fs0	{font-size:0; line-height:0;}

.t_block	{color:#333;}
a.t_block,	a.t_block:hover,	a.t_block:active	{color:#333;}
.t_default	{color:#666;}
a.t_default,	a.t_default:hover,	a.t_default:active	{color:#666;}
.t_gray	{color:#999;}
a.t_gray,	a.t_gray:hover,	a.t_gray:active	{color:#999;}
.t_lightgray	{color:#b2b2b2;}
a.t_lightgray,	a.t_lightgray:hover,	a.t_lightgray:active	{color:#b2b2b2;}

.t_red	{color:#ee1c24;}
a.t_red,	a.t_red:hover,	a.t_red:active	{color:#ee1c24;}
.t_blue	{color:#2484c6;}
a.t_blue,	a.t_blue:hover,	a.t_blue:active	{color:#2484c6;}
.t_green	{color:#8bbd19;}
a.t_green,	a.t_green:hover,	a.t_green:active	{color:#8bbd19;}

.t_strong	{font-weight:bold;}
.t_normal	{font-weight:normal !important;}
.t_line	{text-decoration:underline}
.t_through	{text-decoration:line-through;}

.hand		{cursor:pointer}

.scroll	{
	scrollbar-face-color: #fff;
	scrollbar-shadow-color: #e6e6e6;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #e6e6e6;
	scrollbar-darkshadow-color: #f3f3f3;
	scrollbar-track-color: #f3f3f3;
	scrollbar-arrow-color: #e6e6e6;
	scrollbar-base-color: #FFFFFF;
}

.line_lgray	{width:100%; height:0; margin-bottom:19px; padding-bottom:17px; border-bottom:1px solid #e6e6e6; font-size:0; line-height:0; overflow:auto; overflow:hidden}
.line_dot_lgray	{width:100%; height:1; margin-top:19px; padding-bottom:17px; font-size:0; line-height:0; overflow:auto; overflow:hidden; background:url('/images/front/common/line-dot-02.gif') repeat-x 0 0; } /*도트라인선 : #c7c7c7*/

/*button*/
.btn_c_wrap	{text-align:center;}
.btn_c_wrap_20	{margin-top:20px; text-align:center;}
.btn_wrap	{display:block; width:100%; *zoom:1; *height:1%;}
.btn_wrap:after {content:""; display:block; clear:both; height:0; visibility:hidden; font-size:0;}
.btn_wrap	.btn_l	{float:left;}
.btn_wrap	.btn_r	{float:right;}

/*button : red button*/
.btn_red	{display:inline-block; min-width:1%; background:url('/images/epc/edi/consult/btn-red-r.gif') no-repeat right top; vertical-align:middle}
.btn_red span	{display:inline-block; background:url('/images/epc/edi/consult/btn-red-l.gif') no-repeat left top; color:#fff; font-size:16px; font-weight:bold;}
.btn_red a	{display:inline-block; min-width:100px; height:32px; padding:18px 20px 0 20px; *height:37px; *padding:13px 20px 0 20px; *line-height:20px; font-weight:bold; white-space:nowrap; text-align:center;}
.btn_red a:hover,	.btn_red a:link,	.btn_red a:visited,	 .btn_red a:active	{color:#fff; text-decoration:none;}
.btn_red	input	{height:50px; border:none; background:url('/images/epc/edi/consult/btn-red-l.gif') no-repeat left top; color:#fff; font:bold 16px malgun; cursor:pointer}

.btn_r_s	{background:url('/images/epc/edi/consult/btn-r-small-l.gif') no-repeat left top; padding-left:3px;}
.btn_r_s	span	 {background:url('/images/epc/edi/consult/btn-r-small-r.gif') no-repeat right top; font:14px malgun, sans-serif;}
.btn_r_s	a	{min-width:1px; height:25px; margin-left:-3px; padding:5px 20px 0 20px; *height:26px; *padding:4px 20px 0 20px; font-weight:bold;}
.btn_r_s a:hover,	.btn_r_s a:link,	.btn_r_s a:visited,	 .btn_r_s a:active	{font:14px malgun, sans-serif;}
.btn_r_s	input	{height:30px; border:none; background:url('/images/epc/edi/consult/btn-r-small-r.gif') no-repeat right top; font:14px malgun, sans-serif; cursor:pointer}

/*button : white button*/
.btn_white	{display:inline-block; min-width:1%; background:url('/images/epc/edi/consult/btn-white-r.gif') no-repeat right top; vertical-align:middle}
.btn_white span	{display:inline-block; background:url('/images/epc/edi/consult/btn-white-l.gif') no-repeat left top; color:#666; font-size:16px; font-weight:bold;}
.btn_white a	{display:inline-block; min-width:100px; height:32px; padding:18px 20px 0 20px; *height:37px; *padding:13px 20px 0 20px; *line-height:20px; font-weight:bold; white-space:nowrap; text-align:center;}
.btn_white a:hover,	.btn_white a:link,	.btn_white a:visited,	.btn_white a:active	{color:#666; text-decoration:none;}
.btn_white	input	{height:50px; border:none; background:url('/images/epc/edi/consult/btn-white-l.gif') no-repeat left top; color:#666; font:bold 16px malgun; cursor:pointer}

.btn_w_s	{background:url('/images/epc/edi/consult/btn-w-small-l.gif') no-repeat left top; padding-left:3px;}
.btn_w_s	span	 {background:url('/images/epc/edi/consult/btn-w-small-r.gif') no-repeat right top; font-size:13px;}
.btn_w_s	a	{min-width:1px; height:22px; margin-left:-3px; padding:8px 14px 0 14px; *height:24px; *padding:6px 14px 0 14px; *line-height:16px; font-weight:normal !important;}
.btn_w_s	input	{height:30px; border:none; background:url('/images/epc/edi/consult/btn-w-small-r.gif') no-repeat right top; font:normal 13px malgun; cursor:pointer}

.btn_w_ls	{background:url('/images/epc/edi/consult/btn-w-lsmall-l.gif') no-repeat left top; padding-left:3px;}
.btn_w_ls	span	 {background:url('/images/epc/edi/consult/btn-w-lsmall-r.gif') no-repeat right top; color:#999; font-family:Dotum !important; font-size:11px;}
.btn_w_ls	a	{min-width:1px; height:16px; margin-left:-3px; padding:4px 10px 0 10px; *height:19px; *padding:1px 10px 0 10px; color:#999; font-weight:normal !important;}
.btn_w_ls a:hover,	.btn_w_ls a:link,	.btn_w_ls a:visited,	.btn_w_ls a:active	{color:#999;}
.btn_w_ls	input	{height:20px; border:none; background:url('/images/epc/edi/consult/btn-w-lsmall-r.gif') no-repeat right top; color:#999; font:normal 11px Dotum !important; cursor:pointer}

.btn_w_td_s	{background:url('/images/epc/edi/consult/btn-w-td-small-l.gif') no-repeat left top; padding-left:3px;}
.btn_w_td_s	span	 {background:url('/images/epc/edi/consult/btn-w-td-small-r.gif') no-repeat right top; font-size:13px;}
.btn_w_td_s	a	{min-width:1px; height:22px; margin-left:-3px; padding:8px 15px 0 15px; line-height:110% !important; *height:24px; *padding:6px 15px 0 15px; *line-height:16px; font-weight:normal !important;}
.btn_w_td_s	input	{height:30px; border:none; background:url('/images/epc/edi/consult/btn-w-td-small-r.gif') no-repeat right top; font:normal 13px malgun; cursor:pointer}

.btn_w_td_ls	{background:url('/images/epc/edi/consult/btn-w-td-lsmall-l.gif') no-repeat left top;  padding-left:3px;}
.btn_w_td_ls	span	 {background:url('/images/epc/edi/consult/btn-w-td-lsmall-r.gif') no-repeat right top; font-family:Dotum !important; font-size:11px;}
.btn_w_td_ls	a	{min-width:1px; height:17px; margin-left:-3px; padding:7px 6px 0 6px; line-height:100% !important; font-weight:normal !important;}
.btn_w_td_ls	input	{height:24px; border:none; background:url('/images/epc/edi/consult/btn-w-td-lsmall-r.gif') no-repeat right top; font:normal 11px Dotum !important; cursor:pointer}

.btn_td_w_01	a	{padding-left:15px; padding-right:15px;}

/*button : gray button*/
.btn_gray	{display:inline-block; min-width:1%; background:url('/images/epc/edi/consult/btn-gray-r.gif') no-repeat right top; vertical-align:middle}
.btn_gray span	{display:inline-block; background:url('/images/epc/edi/consult/btn-gray-l.gif') no-repeat left top; color:#fff; font-size:16px; font-weight:bold;}
.btn_gray a	{display:inline-block; min-width:100px; height:32px; padding:18px 20px 0 20px; *height:37px; *padding:13px 20px 0 20px; *line-height:20px; font-weight:bold; white-space:nowrap; text-align:center;}
.btn_gray a:hover,	.btn_gray a:link,	.btn_gray a:visited,	 .btn_gray a:active	{color:#fff; text-decoration:none;}
.btn_gray	input	{height:50px; border:none; background:url('/images/epc/edi/consult/btn-gray-l.gif') no-repeat left top; color:#FFF; font:bold 16px malgun; cursor:pointer}

.btn_g_s	{background:url('/images/epc/edi/consult/btn-g-small-l.gif') no-repeat left top; padding-left:3px;}
.btn_g_s	span	 {background:url('/images/epc/edi/consult/btn-g-small-r.gif') no-repeat right top; font-size:13px;}
.btn_g_s	a	{min-width:1px; height:22px; margin-left:-3px; padding:8px 14px 0 14px; *height:24px; *padding:6px 14px 0 14px; *line-height:16px; font-weight:normal !important;}
.btn_g_s	input	{height:30px; border:none; background:url('/images/epc/edi/consult/btn-g-small-r.gif') no-repeat right top; font:normal 13px malgun; cursor:pointer}

.btn_g_td_s	{background:url('/images/epc/edi/consult/btn-g-td-small-l.gif') no-repeat left top; padding-left:3px;}
.btn_g_td_s	span	 {background:url('/images/epc/edi/consult/btn-g-td-small-r.gif') no-repeat right top; font-size:13px;}
.btn_g_td_s	a	{min-width:1px; height:22px; margin-left:-3px; padding:8px 15px 0 15px; line-height:110% !important; *height:24px; *padding:6px 15px 0 15px; *line-height:16px; font-weight:normal !important;}

.btn_g_td_ls	{background:url('/images/epc/edi/consult/btn-g-td-lsmall-l.gif') no-repeat left top;  padding-left:3px;}
.btn_g_td_ls	span	 {background:url('/images/epc/edi/consult/btn-g-td-lsmall-r.gif') no-repeat right top; font-family:Dotum !important; font-size:11px;}
.btn_g_td_ls	a	{min-width:1px; height:17px; margin-left:-3px; padding:7px 6px 0 6px; line-height:100% !important; font-weight:normal !important;}

/* box */
.box_gray_lt	{width:768px; background:url('/images/epc/edi/consult/box-gray-lt.gif') no-repeat 0 0 #fafafa;}
.box_gray_rb	{background:url('/images/epc/edi/consult/box-gray-rb.gif') no-repeat right bottom;}
.box_gray_rt	{background:url('/images/epc/edi/consult/box-gray-rt.gif') no-repeat right 0;}
.box_gray_lb	{background:url('/images/epc/edi/consult/box-gray-lb.gif') no-repeat 0 bottom; letter-spacing:-1px;}

/*layout*/
#wrap	{width:100%;}
#con_wrap	{position:relative; display:block; z-index:1; width:900px; margin:0 auto; *zoom:1; *height:1%;}
#con_wrap:after {content:""; display:block; clear:both; height:0; visibility:hidden; font-size:0;}
#head	{position:relative; z-index:1; width:100%; height:140px; background:url('/images/epc/edi/consult/bg-head.jpg') no-repeat right 0;}
#head	h1	{position:absolute; z-index:20; left:20px; top:17px;}
.con_area	{width:860px; padding:0 20px 50px;}
#footer	{height:27px; margin-top:50px; padding:14px 0 0 20px; border-top:3px solid #ededed;}


/*gnb*/
.gnb	{overflow:hidden; width:100%; height:40px; padding-top:70px; }
.gnb	ul	{width:902px; height:40px; background:url('/images/epc/edi/consult/bg-gnb-tab.gif') no-repeat 0 0;}
.gnb	li	{float:left; height:100%; text-align:center;}
.gnb	li	div	{width:180px; height:100%; background:url('/images/epc/edi/consult/bg-gnb-tab-li.gif') no-repeat right 0; }
.gnb	li	p.tit_li	{float:left; width:100%; font:normal 13px malgun; text-align:center;}
.gnb	li	div.first	{margin-left:0; padding-right:0; background:url('/images/epc/edi/consult/bg-gnb-tab-li.gif') no-repeat right 0;}
.gnb	li	div.first	p.tit_li	{background:url('/images/epc/edi/consult/bg-gnb-tab-first-li.gif') no-repeat 0 0;}
.gnb	li.on	{margin-left:-1px;}
.gnb	li.on	div	{background:url('/images/epc/edi/consult/bg-gnb-tab-on-li.gif') no-repeat right 0;}
.gnb	li.on	p.tit_li	{height:27px; padding-top:13px; background:url('/images/epc/edi/consult/bg-gnb-tab-on-left-li.gif') no-repeat 0 0;}
.gnb	li.on	div.first	{width:180px; margin-left:1px; padding-right:0;}
.gnb	li.on	div.first	p.tit_li	{background:url('/images/epc/edi/consult/bg-gnb-tab-on-left-li.gif') no-repeat 0 0;}
.gnb	li	p.tit_li	a	{display:block; height:27px; padding-top:13px; text-align:center;}

/*footer*/
#footer	.logo	{float:left; width:130px;}
#footer	.address	{float:left; padding-top:1px;}

/*step*/
.step_wrap	{width:100%; overflow:hidden; margin-bottom:20px;}
.step_wrap	ol	{float:left; width:876px;}
.step_wrap	li	{float:left; width:203px; padding-right:16px; background:url('/images/epc/edi/consult/bg-step-arrow.gif') no-repeat right top; text-align:center;}
.step_wrap	li.on	{background:url('/images/epc/edi/consult/bg-step-arrow-on.gif') no-repeat right top;}
.step_wrap	li	a	{display:block; height:20px; padding-top:5px;}

/*title*/
.con_title	{width:100%; margin-bottom:20px; border-bottom:3px solid #666;}
.con_title	h1	{height:32px;}

.s_title	{width:100%; margin-bottom:3px;}
.s_title	h2	{height:25px; font-size:15px; color:#333;}


/*table*/
table	td.t_left,	table	th.t_left	{padding-left:9px; padding-right:5px; text-align:left;}
table	td.t_l_15,	table	th.t_l_15	{padding-left:14px; padding-right:5px; text-align:left;}
table	td.t_l_0,	table	th.t_l_0	{padding-left:0; padding-right:5px; text-align:left;}
table	td.t_right,	table	th.t_right	{padding-left:5px; padding-right:9px; text-align:right;}
table	td.t_r_15,	table	th.t_r_15	{padding-left:5px; padding-right:14px; text-align:right;}
table	td.t_center,	table	th.t_center	{padding-left:4px; padding-right:4px; text-align:center;}
table	td.td_button	{line-height:14px !important; text-align:center;}
table	td.nodata	{width:100%; padding:17px 0; text-align:center; color:#999;}
table	thead	th	.t_roman	{font-size:15px; font-style: normal;}
table	td.td_cb	{vertical-align:middle}
table	th.th_cb	.bg_r_cb,	table	td.td_cb	.bg_r_cb	{margin:0 auto;}

.t_txt_wrap	{width:100%; margin:-18px 0 6px; overflow:hidden;}
	:root	 .t_txt_wrap	{margin:-24px 0 8px;}
		:root	 .t_txt_wrap	p	{background-position:0 2px; line-height:16px;}
.t_txt_wrap	.ex_right	{float:right;}
.t_txt_wrap	p	{text-align:left; padding-left:12px; background:url('/images/epc/edi/consult/bul-tb-required.gif') no-repeat 0 0;}

.tb_form_comm	{width:100%; border-top:2px solid #c7c7c7;}
.tb_form_comm	table	{}
.tb_form_comm	th	{min-height:20px; _height:20px; padding-top:10px; padding-bottom:10px; border-bottom:1px solid #e6e6e6; background-color:#f4f4f4; font:normal 13px malgun; color:#333; line-height:16px; text-align:left;}
.tb_form_comm	td	{min-height:20px; _height:20px; padding-top:10px; padding-bottom:10px; border-bottom:1px solid #e6e6e6; font:13px malgun; color:#666; letter-spacing:0; line-height:16px;}
.tb_form_comm	th	p	{padding-left:29px; padding-right:5px;}
.tb_form_comm	th	p.check	{background:url('/images/epc/edi/consult/bul-tb-required.gif') no-repeat 15px 3px;}
.tb_form_comm	td	.td_p	{padding-left:14px; padding-right:5px;}
.tb_form_comm	td	.td_p	.btn_g_td_ls	{margin-top:1px;}
.tb_form_comm	td	.label	{font:normal 13px malgun; color:#666;}

.tb_form_comm_btm	{position:relative; margin-top:-1px; padding:11px 0 9px; border-bottom:1px solid #dedede; background:url("/images/epc/edi/consult/line-dot-02.gif") repeat-x scroll 0 top;}
.tb_form_comm_btm	li	{float:left; padding-left:15px;}
.tb_form_comm_btm	li.tit	{width:114px; height:20px; background:url('/images/epc/edi/consult/line-li-h.gif') no-repeat right 4px;}
.tb_form_comm_btm	li.tit	p	{vertical-align:middle; line-height:16px;}
.tb_form_comm_btm	li.con	{width:700px; padding-right:15px;}

.tb_v_common	{width:100%; border-top:2px solid #c7c7c7;}
.tb_v_common	table	{}
.tb_v_common	th	{min-height:20px; _height:20px; padding-top:11px; padding-bottom:9px; border-bottom:1px solid #e6e6e6; background-color:#f4f4f4; font:normal 13px malgun; color:#333; line-height:16px; text-align:left; }
.tb_v_common	td	{min-height:20px; _height:20px; padding-top:11px; padding-bottom:9px; border-bottom:1px solid #dedede; font:12px Dotum; color:#999; letter-spacing:0; line-height:16px;}
.tb_v_common	th	p	{padding-left:14px; padding-right:10px;}
.tb_v_common	td	.td_p	{padding-left:14px; padding-right:0;}
.tb_v_common	td .t_13	{color:#666;}

.tb_form_h_common_02	{width:100%;}
.tb_form_h_common_02	table	{border-top:2px solid #c7c7c7; border-bottom:0;}
.tb_form_h_common_02	thead	th	{padding:12px 0 13px; border-bottom:1px solid #c7c7c7; background-color:#f4f4f4; font:normal 13px malgun; color:#333; text-align:center; vertical-align:top}
.tb_form_h_common_02	thead	th.line	{background:url('/images/epc/edi/consult/line-th-h.gif') no-repeat right 0 #f4f4f4;}
.tb_form_h_common_02	thead	th.t_left	{padding-left:9px; padding-right:5px; text-align:left;}
.tb_form_h_common_02	thead	th.t_right	{padding-left:5px; padding-right:9px; text-align:right;}
.tb_form_h_common_02	tbody	td	{min-height:20px; _height:20px; padding-top:11px; padding-bottom:9px; border-bottom:1px solid #dedede; font:13px malgun; color:#666; line-height:16px;}

.tb_form_h_common_02	tbody	tr.pr_info	td	 {padding-top:0;}
.tb_form_h_common_02	tbody	td.num	{background:#fafafa;}
.tb_form_h_common_02	tbody	td.no_b_line	{border-bottom:none;}
.tb_form_h_common_02	tbody	td	.t_12	{color:#999; font-family:dotum;}

.tb_h_common_02	{width:100%;}
.tb_h_common_02	table	{border-top:2px solid #c7c7c7; border-bottom:0;}
.tb_h_common_02	thead	th	{padding:12px 0 13px; border-bottom:1px solid #c7c7c7; background-color:#f4f4f4; font-size:13px; font-weight:normal; color:#333; text-align:center; vertical-align:top}
.tb_h_common_02	thead	th.line	{background:url('/images/epc/edi/consult/line-th-h.gif') no-repeat right 0 #f4f4f4;}
.tb_h_common_02	thead	th.t_left	{padding-left:9px; padding-right:5px; text-align:left;}
.tb_h_common_02	thead	th.t_right	{padding-left:5px; padding-right:9px; text-align:right;}
.tb_h_common_02	tbody	td	{min-height:20px; _height:20px; padding-top:10px; padding-bottom:10px; border-bottom:1px solid #dedede; font:12px Dotum; color:#999; line-height:16px;}
.tb_h_common_02	tbody	td.team_name	{background:#fafafa;}
.tb_h_common_02	tbody	td.cell_pd3{padding:3px 0 !important;}
.tb_h_common_02	tbody	tr.line_dot	td	 {background:url("/images/epc/edi/consult/line-dot-02.gif") repeat-x scroll 0 bottom; border-bottom:0;}
.tb_h_common_02	tbody	tr.line_dot	td.num	{background:#fafafa; border-bottom:1px solid #dedede;}

.tb_h_common_02	table.no_border_top	{border-top:none;}

.tb_h_common_02_btm	{position:relative; margin-top:-1px; padding:16px 0 14px 0; border-bottom:1px solid #dedede; background:url("/images/epc/edi/consult/line-dot-02.gif") repeat-x scroll 0 top;}
.tb_h_common_02_btm	li	{float:left; padding:3px 0 0 15px; font:12px Dotum; color:#999; vertical-align:top;}
.tb_h_common_02_btm	li.tit	{width:114px; background:url('/images/epc/edi/consult/line-li-h.gif') no-repeat right 4px; padding-top:0; font:13px malgun; color:#333;}

/*팝업일때*/
.tb_h_common	{width:100%; border-top:2px solid #c7c7c7; border-bottom:1px solid #e6e6e6;}
.tb_h_common	table	{width:100%;}
.tb_h_common	thead	th	{padding:8px 0 9px; border-bottom:1px solid #c7c7c7; background-color:#f4f4f4; font:13px malgun, sans-serif; color:#333;}
.tb_h_common	thead	th.line	{background:url('/images/epc/edi/consult/line-th-h.gif') no-repeat right 0 #f4f4f4;}
.tb_h_common	tbody	td	{padding-top:5px; padding-bottom:5px; color:#999; line-height:18px;}
.tb_h_common	tbody	td	a	{color:#999;}
.tb_h_common	tbody	td	a:hover	{color:#999;}
.tb_h_common	tbody	tr.start	td	{padding-top:14px;}
.tb_h_common	tbody	tr.end	td	{padding-bottom:11px;}

/*tbody 에 스크롤이 있을때*/
.scroll_title	table	{width:100%; border-top:2px solid #ccc;}
.scroll_title	thead	th	{padding-top:11px; padding-bottom:9px; border-bottom:1px solid #e6e6e6; background-color:#fafafa; font:13px malgun, sans-serif; color:#666;}
.tb_h_c_scroll	{border-top:0;
	scrollbar-face-color: #fff;
	scrollbar-shadow-color: #e6e6e6;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #e6e6e6;
	scrollbar-darkshadow-color: #f3f3f3;
	scrollbar-track-color: #f3f3f3;
	scrollbar-arrow-color: #e6e6e6;
	scrollbar-base-color: #FFFFFF;
}
.tb_h_c_scroll	thead,	.tb_h_c_scroll	thead	tr,	.tb_h_c_scroll	thead	th	{visibility:hidden; height:0; font-size:0; line-height:0; margin:0; padding:0; border:0; background:none; overflow:hidden}
.scroll_title	table	th.t_center	{padding-left:4px; padding-right:24px; text-align:center;}
.scroll_title	table	th.t_right	{padding-left:5px; padding-right:29px; text-align:right;}
.scroll_title	table	th.t_r_15	{padding-left:5px; padding-right:34px; text-align:right;}


.box_etc	{width:828px; height:58px; overflow:auto; padding:15px; border:1px solid #e6e6e6; font:12px Dotum; color:#999; letter-spacing:0;
	scrollbar-face-color: #fff;
	scrollbar-shadow-color: #e6e6e6;
	scrollbar-highlight-color: #e6e6e6;
	scrollbar-3dlight-color: #e6e6e6;
	scrollbar-darkshadow-color: #f3f3f3;
	scrollbar-track-color: #f3f3f3;
	scrollbar-arrow-color: #e6e6e6;
	scrollbar-base-color: #fff;
}
.box_etc_input	 textarea	{width:100%; height:100%; padding:15px; border:1px solid #e6e6e6; font:12px Dotum; color:#999; letter-spacing:0;
	scrollbar-face-color: #fff;
	scrollbar-shadow-color: #e6e6e6;
	scrollbar-highlight-color: #e6e6e6;
	scrollbar-3dlight-color: #e6e6e6;
	scrollbar-darkshadow-color: #f3f3f3;
	scrollbar-track-color: #f3f3f3;
	scrollbar-arrow-color: #e6e6e6;
	scrollbar-base-color: #fff;
}
.add_file	{padding:15px 0 12px; border-bottom:1px solid #e6e6e6; font:12px Dotum; color:#666;}

.list_star	{margin-top:6px;}
.list_star	li	{padding:1px 0 1px 8px; background:url('/images/epc/edi/consult/bul-star.gif') no-repeat 0 5px; color:#999; font:11px/16px Dotum;}

.box_gray	 {border:2px solid #f2f2f2;}

/* text */
.txt_btxt	{color:#333; font-size:16px; line-height:21px; text-align:center;}
.txt_btxt	em, .txt_stxt	em	{color:#2484c6; font-style:normal;}

/* login */
.box_login	{padding:32px 33px;}
.member_login	{position:relative; width:565px; margin:28px auto 0 auto;}
.member_login	.input_info	{width:470px;}
.member_login	.input_info	dt		{float:left; width:94px; padding-top:2px; color:#666; font:13px Malgun; vertical-align:top; line-height:15px;}
.member_login	.input_info	dd		{float:left; width:376px; padding-bottom:5px; vertical-align:middle;}
.member_login	.input_info	dd.end	{padding-bottom:0;}
.member_login	.btn_login	 {position:absolute; right:0; top:0;}

.pwd_find	 {margin-top:28px; padding-top:10px; border-top:1px solid #dedede; font:12px Dotum; color:#666; text-align:center;}
.pwd_find	 .btn_w_ls	{margin-left:6px;}

/* 입점상담안내 */
.product-list	.fl_left	{width:424px;}

/* 상담결과 */
.adivice_result	{padding:1px 0 1px;font:13px malgun, sans-serif; color:#666;}
.adivice_result	.t_strong	{display:block; margin-top:-2px;}
.adivice_result	.al_right	{padding:0 15px 15px 0; color:#999;}
:root .adivice_result	.al_right	{padding:0 14px 17px 0;}

/* 상담절차 */
.txt_info_wrap	{margin-bottom:24px; padding-top:3px; text-align:center;}
.txt_info_wrap	p	{line-height:18px;}
.txt_info_wrap	p.txt_1	{margin-bottom:16px; color:#333; font-size:24px; line-height:30px;}
.txt_info_wrap	p.txt_1	span	{color:#2484c6;}

.tb_v_common_prod	{width:100%; border-top:2px solid #c7c7c7;}
.tb_v_common_prod	table	{width:100%;}
.tb_v_common_prod	table	th	{color:#333; font-weight:normal;}
.tb_v_common_prod	table	th	{padding-top:17px; padding-bottom:16px; border-bottom:1px solid #dedede; background-color:#f4f4f4; font-size:13px; font-weight:normal; color:#333; line-height:16px; text-align:left; }
.tb_v_common_prod	table	td	{min-height:30px; _height:30px; padding-top:10px; padding-bottom:10px; border-bottom:1px solid #dedede; color:#999; font:12px Dotum; letter-spacing:0; line-height:16px;}
.tb_v_common_prod	table	th	p	{padding-left:14px; padding-right:10px;}
.tb_v_common_prod	table	td	.td_p	{padding-left:14px; padding-right:14px;}
.tb_v_common_prod	table	.end	{border-bottom-color:#c7c7c7;}

/* FAQ */
.faq_list	{border-top:1px solid #dedede;border-bottom:1px solid #c7c7c7}
.faq_list	dt,
.faq_list	dd	{padding:12px 0;line-height:18px; overflow:hidden; zoom:1}
.faq_list	dt	{margin-bottom:-1px; border-top:1px solid #dedede; border-bottom:1px solid #dedede;}
.faq_list	dt	 .question	{float:left; width:100px; background:url('/images/epc/edi/consult/faq-question.gif') no-repeat center 4px;}
.faq_list	dd	{background:url('/images/epc/edi/consult/line-dot-03.gif') repeat-x left top #fafafa;}
.faq_list	dd	.answer	{float:left; width:100px; background:url('/images/epc/edi/consult/faq-answer.gif') no-repeat center 4px;}
.faq_list	dd	.question_info	{font:12px/18px Dotum}
.faq_list	.question_info	{float:left; width:728px; padding:0 16px;}
.faq_list	em	{text-indent:-99999px; visibility:hidden}

/* padding margin */
.mt0	{margin-top:0 !important;;}
.mt2	{margin-top:2px;}
.mt4	{margin-top:4px;}
.mt5	{margin-top:5px;}
.mt6	{margin-top:6px;}
.mt8	{margin-top:8px;}
.mt10	{margin-top:10px;}
.mt15	{margin-top:15px;}
.mt20	{margin-top:20px}
.mt25	{margin-top:25px;}
.mt30	{margin-top:30px;}
.mt35	{margin-top:35px;}
.mt40	{margin-top:40px;}
.mt50	{margin-top:50px;}
.mtm5	{margin-top:-5px;}
.mlmt10	{margin-top:-10px;}

.mb15	{margin-bottom:15px}
.mb20	{margin-bottom:20px}
.mb25	{margin-bottom:25px}
.mlmb30	{margin-bottom:-30px;}

.ml4	{margin-left:4px;}
.ml5	{margin-left:5px;}
.ml8	{margin-left:8px;}
.ml10	{margin-left:10px;}
.ml15	{margin-left:15px;}
.ml20	{margin-left:20px;}
.ml30	{margin-left:30px;}
.mlm1	{margin-left:-1px;}
.mlm2	{margin-left:-2px;}

.mr3	{margin-right:3px;}
.mr4	{margin-right:4px;}
.mr5	{margin-right:5px;}
.mr10	{margin-right:10px;}
.mr15	{margin-right:15px;}
.mr20	{margin-right:20px;}


.pt5	{padding-top:5px;}
.pt10	{padding-top:10px;}
.pt20	{padding-top:20px;}
.pt30	{padding-top:30px;}
.pt40	{padding-top:40px;}

.pb5	{padding-bottom:5px;}