@charset "utf-8";
/************************************************************************
 * filename		: order.css
 * description	: order, basket CSS import
 * date			: 2011.08.10
************************************************************************/
@import url(layout.css);

#con_wrap	{background:none !important;} /* 2012-04-23 */

.thead_step	{width:950px; height:62px; background:url('/images/member/front/order/img-order-step.gif') no-repeat;}
.basket_step1	{background-position:0 0;}
.basket_step2	{background-position:0 -77px;}
.basket_step3	{background-position:0 -154px;}
.basket_step4	{background-position:0 -231px;}

.thead_basket	.tit_right	{height:70px;}

.box_basket_addpay	{width:100%; background:url('/images/member/front/order/box-basket-addpay.gif') no-repeat 0 0;}
.box_basket_addpay .basket_info	{position:relative; width:100%; height:91px; background:url('/images/member/front/order/icon-basket-pay-info.gif') no-repeat 25px 21px;}
.box_basket_addpay .basket_info	h2	{padding:25px 0 0 80px; font:normal 18px malgun, "Malgun Gothic"; color:#333;}
.box_basket_addpay .basket_info	h2	strong	{color:#2484c6;}
.box_basket_addpay .basket_info	.address	{padding:3px 0 0 80px; line-height:130%; font:14px malgun, "Malgun Gothic";}
.box_basket_addpay .basket_info	.sel_address	{position:absolute; right:20px; top:37px;}
.box_basket_addpay .basket_info	.sel_address	select	{width:158px; line-height:14px; margin-right:2px;}
	:root	.box_basket_addpay .basket_info	.sel_address	{line-height:14px;}
.box_basket_addpay .saved_info	{overflow:hidden; width:100%; height:71px; padding-top:1px; background:url('/images/member/front/order/box-basket-saved-list.gif') no-repeat 0 0;}
.box_basket_addpay .saved_info	ul	{float:left; width:952px; height:59px;}
.box_basket_addpay .saved_info	li	{float:left; width:170px; height:51px; margin-left:-1px; padding:18px 16px 0 0; border-left:1px solid #eee;}
.box_basket_addpay .saved_info	li.end	{width:169px;}
.box_basket_addpay .saved_info	li .stit_saved	{text-align:right;}
.box_basket_addpay .saved_info	li .t_roman	{margin-top:10px; font:14px malgun, "Malgun Gothic"; color:#2484c6; letter-spacing:0; text-align:right;}
.box_basket_addpay .saved_info	li .t_roman span.unit	{font:normal 11px Dotum; color:#62b8e5;}
.box_basket_addpay .saved_info	p.nomember	{padding:26px 0 0 82px;}
.box_basket_addpay .li_4	li	{width:222px;} /* 갯수가 3개일 때*/
.box_basket_addpay .li_4	li.end	{width:221px;}


.basket_wrap	{width:100%; margin-top:25px; padding-bottom:30px; background:url('/images/member/front/order/line-basket-wrap.gif') repeat-x 0 bottom;}
.basket_none	{padding-bottom:0; background:none;}

.basket_wrap	.basket_head	h2	{float:left; margin-top:9px; _margin-top:8px; font:bold 18px/20px malgun, "Malgun Gothic"; color:#333;}
.basket_wrap	.basket_head	h2	em	{font-style:normal; color:#ee1c24;}
/*.basket_wrap	.basket_head	.etc_help	{float:right; width:644px; height:47px; padding-right:66px; background:url('/images/member/front/order/box-basket-etc-help.gif') no-repeat right 0; font:normal 11px Dotum;}*/
.basket_wrap	.basket_head	.etc_help	{float:right; width:446px; height:47px; padding-right:66px; background:url('/images/member/front/order/box-basket-etc-help.gif') no-repeat right 0; font:normal 11px Dotum;}
.basket_wrap	.basket_head	.etc_help_left	{float:right; min-width:170px; _width:170px; height:40px; padding:7px 0 0 9px; background:url('/images/member/front/order/box-basket-etc-help-left.gif') no-repeat 0 0; line-height:120%; white-space:nowrap;}
.basket_wrap	.basket_head	.etc_help	.t_red	{font-size:14px; font-weight:bold; letter-spacing:0;}

.tb_product	td	.photo_wrap	img.photo	{border:1px solid #e6e6e6;}

/* .basket_total	{width:100%; height:41px; margin-top:-1px; padding-top:10px; background:url('/images/member/front/order/bg-basket-total.gif') no-repeat 0 0;} */
.basket_total	{width:100%; height:42px; margin-top:-1px; padding-top:9px; background:url('/images/member/front/order/bg-basket-total.gif') no-repeat 0 0;}
.basket_total ul	{float:right; padding-right:20px;}
.basket_total li	{float:left;}
.basket_total li	p	{float:left;}
.basket_total li	.txt_name	{padding:9px 5px 0 0; _padding:12px 5px 0 0;}
.basket_total li	.txt_number	{width:135px; padding:5px 25px 0 0; _padding:4px 25px 0 0; text-align:right; font:14px/18px malgun, "Malgun Gothic";}
.basket_total li	.txt_number em.t_roman	{position:relative; top:1px; font:16px;/20px CoHead; color:#333; letter-spacing:0; vertical-align:-1px;}
.basket_total li.discount	{padding-left:41px; background:url('/images/member/front/order/ico-basket-discount.gif') no-repeat 0 15px;}
.basket_total li.send	{padding-left:41px; background:url('/images/member/front/order/ico-basket-send.gif') no-repeat 0 9px;}
.basket_total li.total	{padding-left:45px; background:url('/images/member/front/order/ico-basket-total.gif') no-repeat 0 13px; color:#ee1c24;}
.basket_total li.discount	.txt_number	{width:106px;}
.basket_total li.send	.txt_number	{width:95px;}
.basket_total li.total	.txt_number	{width:170px; padding:2px 0 0 0; _padding:0; font:14px/18px malgun, "Malgun Gothic";}
.basket_total li.total	.txt_number em.t_roman	{font:22px/24px CoHead; color:#ee1c24; letter-spacing:0; vertical-align:-1px;}

.basket_total_2	{width:100%; height:42px; margin-top:0; padding-top:9px; background:url('/images/member/front/order/bg-basket-total.gif') no-repeat 0 0;}
.basket_total_2 ul	{float:right; padding-right:20px;}
.basket_total_2 li	{float:left;}
.basket_total_2 li	p	{float:left;}
.basket_total_2 li	.txt_name	{padding:9px 5px 0 0; _padding:12px 5px 0 0;}
.basket_total_2 li	.txt_number	{width:135px; padding:5px 25px 0 0; _padding:4px 25px 0 0; text-align:right; font:14px/18px malgun, "Malgun Gothic";}
.basket_total_2 li	.txt_number em.t_roman	{position:relative; top:1px; font:16px;/20px CoHead; color:#333; letter-spacing:0; vertical-align:-1px;}
.basket_total_2 li.discount	{padding-left:41px; background:url('/images/member/front/order/ico-basket-discount.gif') no-repeat 0 15px;}
.basket_total_2 li.send	{padding-left:41px; background:url('/images/member/front/order/ico-basket-send.gif') no-repeat 0 9px;}
.basket_total_2 li.total	{padding-left:45px; background:url('/images/member/front/order/ico-basket-total.gif') no-repeat 0 13px; color:#ee1c24;}
.basket_total_2 li.discount	.txt_number	{width:106px;}
.basket_total_2 li.send	.txt_number	{width:95px;}
.basket_total_2 li.total	.txt_number	{width:170px; padding:2px 0 0 0; _padding:0; font:14px/18px malgun, "Malgun Gothic";}
.basket_total_2 li.total	.txt_number em.t_roman	{font:22px/24px CoHead; color:#ee1c24; letter-spacing:0; vertical-align:-1px;}

/*해외배송*/
.foreign_total	li.discount	{padding-left:29px;}
.foreign_total	li.exsend	{padding-left:29px; background:url('/images/member/front/order/ico-basket-send.gif') no-repeat 0 9px;}
.foreign_total	li.total	{padding-left:30px;}
.foreign_total	li	.txt_number	{width:128px; *width:125px; padding:5px 20px 0 0;}
.foreign_total	li.discount	.txt_number	{width:98px; *width:98px;}
.foreign_total	li.exsend	.txt_number	{float:left; width:178px; padding:5px 17px 0 0; background:url('/images/member/front/order/bg-basket-exsend.gif') no-repeat right 0;}
.foreign_total	li.exsend	.txt_number	.to_num	{width:105px;}
.foreign_total	li.exsend	.txt_number	.weight	{float:right; width:70px;}
.foreign_total	li.exsend	.txt_number	.weight	p	{float:left; width:59px; padding-left:10px; text-align:center;}
.foreign_total	li.exsend	.txt_number	.weight	.t_12	{font:normal 11px Dotum;}
.foreign_total	li.exsend	.txt_number	.weight	.t_12	.t_roman	{font:normal 11px Dotum;}
.foreign_total	li.total	.txt_number	{width:145px;}

/* 해외배송 주문시 주의사항 */
.box_agree	h3.tit	{ font:13px malgun, "Malgun Gothic"; color:#333;}
.box_agree	ul	{margin:10px 0; padding-left:16px;}
.box_agree	ul	li	{line-height:18px;}

/*선물(명절)*/
.holiday_total	li.discount	{padding-left:88px;}
.holiday_total	li.total	{padding-left:45px;}
.holiday_total	li	.txt_number	{width:176px; padding:5px 78px 0 0;}
.holiday_total	li.discount	.txt_number	{width:108px;}
.holiday_total	li.total	.txt_number	{width:170px;}

/*손큰피자*/
.pizza_total	li.discount	{padding-left:40px;}
.pizza_total	li.send	{padding-left:43px;}
.pizza_total	li.total	{padding-left:45px;}
.pizza_total	li	.txt_number	{width:138px;}
.pizza_total	li.discount	.txt_number	{width:102px;}
.pizza_total	li.send	.txt_number	{width:110px;}
.pizza_total	li.total	.txt_number	{width:153px;}

.pizz02_total	li.discount	{padding-left:88px;}
.pizz02_total	li.total	{padding-left:45px;}
.pizz02_total	li	.txt_number	{width:176px; padding:5px 78px 0 0;}
.pizz02_total	li.discount	.txt_number	{width:108px;}
.pizz02_total	li.total	.txt_number	{width:170px;}

.basket_foreign	{position:relative; z-index:2; width:930px; height:42px; padding:10px 0 0 20px; margin-top:-1px; border-top:1px solid #c7c7c7;}
.basket_foreign	.foreign_left	{float:left; margin-top:10px;}
.basket_foreign	.foreign_right	{float:right;}
.basket_foreign	.foreign_right	select	{width:133px;}
.basket_foreign	.foreign_left	.t_txt	{float:left; width:107px;}
.basket_foreign	.foreign_right	.fl_left	{margin-left:4px;}

/*총금액*/
.box_total_num	{width:950px; height:110px; margin-top:30px; background:url('/images/member/front/order/box-total-num.gif') no-repeat 0 0;}
.box_total_num	ul	{float:left; margin-left:6px; _margin-left:3px;}
.box_total_num	li	{float:left; width:234px; text-align:center;}
.box_total_num	li	.txt_name	{margin-top:16px; font-weight:bold; color:#666;}
.box_total_num	li	.txt_number	{margin-top:28px; font-weight:normal 12px malgun, "Malgun Gothic"; color:#666;}
.box_total_num	li	.txt_number	em.t_roman	{font:20px/28px CoHead; color:#333;}
.box_total_num	li.send	{width:226px;}
.box_total_num	li.total	{width:246px;}
.box_total_num	li.total	.txt_number	{margin-top:26px; color:#ee1c24;}
.box_total_num	li.total	.txt_number	em.t_roman	{font-size:24px; color:#ee1c24; line-height:30px;}

/*주문-결제*/
.order_head	{margin:34px 0 14px;}
.o_h20	{margin:14px 0 7px;}
.order_head	h2	{float:left; font-size:18px; font-weight:bold; color:#333;}
.order_head	h2	em	{font-style:normal; color:#ed1c24;}
.order_head	.time	{float:right; height:16px; margin-top:15px; padding-left:16px; background:url('/images/member/front/order/bul-clock.gif') no-repeat 0 0; font:12px Dotum; letter-spacing:0;}

.tb_p_order	tbody	td.td_photo	{padding:9px 0; text-align:center;}

/*숫자타이틀*/
h3.h3_tit	{padding:0 0 6px 28px; background:url('/images/member/front/order/txt-number2.gif') no-repeat 0 0; font-weight:bold; font-size:15px; color:#333;}
h3.h3_01	{background-position:9px 0;}
h3.h3_02	{background-position:9px -30px;}
h3.h3_03	{background-position:9px -59px;}
h3.h3_04	{background-position:9px -87px;}
h3.h3_tit_2	{padding-bottom:6px; font-size:15px; color:#333;}

.tb_order	{margin-bottom:25px;}
.tb_order	td.td_cp	{padding:10px 0 7px 0;}
.tb_order	td.td_cp	.line	{padding-right:16px;}
.tb_order	.td_pay	{padding-left:14px;}
.tb_order	.td_pay	.d_name	{float:left; width:91px; padding-top:6px; color:#666; letter-spacing:-1px;}
.tb_order	.td_pay	.d_input	{float:left; width:135px; padding-top:3px; color:#666;}
.tb_order	.td_pay	.d_input	.input_txt	{margin-top:-3px; _position:relative; }
.tb_order	.td_pay	.d_input	.input_txt	input.txt	{height:18px; padding:8px 0 0 0;}
	:root	.tb_order	.td_pay	.d_input	.input_txt	input.txt	{height:22px; padding:4px 0 0 0;}
.tb_order	.td_pay	.line	{background:url('/images/member/front/order/line-td-pay.gif') no-repeat right 0;}	
.tb_order	.td_pay	.d_number	{float:left; width:113px; padding-top:6px; padding-right:22px; text-align:right;}
.tb_order	.td_pay	.d_number	.t_roman	{font:14px CoHead; color:#ee1c24;}
.tb_order	span.t_roman	{font:14px malgun, "Malgun Gothic"; color:#ee1c24;}
.tb_order	.td_pay	.d_input	.input_txt	input.al_right	{height:21px; padding:5px 0 0 0; font:14px malgun, "Malgun Gothic"; color:#333;}
	:root	.tb_order	.td_pay	.d_input	.input_txt	input.al_right	{height:25px; padding:1px 0 0 0;}
.tb_order	.td_pay	.desc	{float:left; font:11px Dotum; color:#999; line-height:16px;}
.tb_order	.td_pay	.desc2	{float:left; _position:relative; margin:-5px 0 -10px; font:11px Dotum; color:#999; line-height:16px; letter-spacing:-1px;}
.tb_order	.td_pay	.cp_name	{float:left; width:117px; padding-top:3px; color:#666; letter-spacing:-1px;}
.tb_order	.td_pay	.cp_name	.btn_gray	 {margin-left:2px;}
.tb_order	.td_pay	.cp_input	{float:left; width:129px; color:#666;}
.tb_order	.td_pay	.cp_input	.input_txt	{_position:relative;}
.tb_order	.td_pay	.cp_input	.input_txt	input.txt	{height:18px; padding:8px 0 0 0;}
.tb_order	.td_pay	.cp_num	{display:block; margin-top:6px; font:11px/16px Dotum; color:#999;}
.tb_order	.td_staff	{padding-left:105px;}

.tb_order	.td_pay.odd	{position:relative;}
.tb_order	.td_pay	p.cp_name.odd	{width:130px; padding-left:16px;}
.tb_order	td.td_cp	div.td_pay	.ico_ques	{display:inline; position:absolute; left:548px; _left:538px; top:9px; *top:6px; _top:4px; margin-left:-12px; _margin-left:0;}
.tb_order	td.td_cp	div.td_pay	.ico_ques	.bx_bubble	{width:300px; top:-52px;}

/*주문 쪽 결제금액*/
.box_total_point	{width:950px; height:110px; margin-bottom:30px; background:url('/images/member/front/order/box-total-point.gif') no-repeat 0 0;}
.box_total_point	ul	{float:left; margin-left:6px; _margin-left:3px;}
.box_total_point	li	{float:left; width:234px; text-align:center;}
.box_total_point	li	.txt_name	{margin-top:16px; font-weight:bold;}
.box_total_point	li	.txt_number	{margin-top:28px; font:normal 12px malgun, "Malgun Gothic";}
.box_total_point	li	.txt_number	em.t_roman	{position:relative; font-size:20px; color:#333; line-height:28px; letter-spacing:0;}
.box_total_point	li.have	{width:226px;}
.box_total_point	li.total	{width:246px; }
.box_total_point	li.total	.txt_number	{margin-top:26px; color:#ee1c24;}
.box_total_point	li.total	.txt_number	em.t_roman	{font-size:24px; color:#ee1c24; line-height:30px; letter-spacing:0;}

.box_total_point2	{width:950px; height:110px; margin-bottom:30px; background:url('/images/member/front/order/box-total-point-2.gif') no-repeat 0 0;}
.box_total_point2	ul	{float:left; margin-left:6px; _margin-left:3px;}
.box_total_point2	li	{float:left; width:234px; text-align:center;}
.box_total_point2	li	.txt_name	{margin-top:16px; font-weight:bold;}
.box_total_point2	li	.txt_number	{margin-top:28px; font:normal 12px malgun, "Malgun Gothic";}
.box_total_point2	li	.txt_number	em.t_roman	{position:relative; font-size:20px; color:#333; line-height:28px; letter-spacing:0;}
.box_total_point2	li.have	{width:226px;}
.box_total_point2	li.total	{width:246px;}
.box_total_point2	li.total	.txt_number	{margin-top:26px; color:#ee1c24;}
.box_total_point2	li.total	.txt_number	em.t_roman	{font-size:24px; color:#ee1c24; line-height:30px; letter-spacing:0;}

/*결제방법*/
.box_pay_method	{width:935px; height:32px; padding:18px 0 0 15px; border-top:1px solid #dedede; border-bottom:1px solid #dedede; background:#f9f9f9;}
.box_pay_method	.bg_r_cb	{}
.box_pay_method	.bg_r_cb	label	{margin-right:50px;}

/*tab*/
.tab_sub	{overflow:hidden; width:100%; height:35px; background:url('/images/member/front/common/bg-tab-sub.gif') repeat-x 0 0;}
.tab_sub	ul	{float:left; height:100%; background:url('/images/member/front/common/line-tab-sub-left-li.gif') no-repeat 0 0;}
.tab_sub	li	{float:left; height:100%; background:url('/images/member/front/common/line-tab-sub-li.gif') no-repeat right 0; color:#666; text-align:center;}
.tab_sub	li.on	{height:100%; background:url('/images/member/front/common/line-tab-sub-on-li.gif') no-repeat right 0;}
.tab_sub	li.on	p.tit_li	{height:25px; padding-top:10px; background:url('/images/member/front/common/line-tab-sub-on-left-li.gif') no-repeat 0 0; color:#333; }
.tab_sub	li	p.tit_li	{float:left; width:138px; background:url('/images/member/front/common/line-tab-sub-left-li.gif') no-repeat 0 0; color:#666;}
.tab_sub	li	p.tit_li	a	{display:block; height:25px; padding-top:10px; color:#666; text-align:center;}
.tab_sub	li	p.tit_li	a:hover,	.tab_sub	li	p.tit_li	a:active	{color:#666; text-decoration:none;}
/* 마크업 변경되면 삭제 될 메뉴  */
/*.tab_sub	li.first	{margin-left:0;}
.tab_sub	li.first		p.tit_li	{background-position:0 0;}*/

.paycard_wrap,	.timebank_wrap,	.imagine_wrap,	.phone_wrap	{position:relative; z-index:1;}
.button_right	{position:absolute; right:0; _right:15px; top:20px; z-index:2;}
.paycard_wrap	ul.ul_paycard	{border-bottom:1px solid #dedede;}
.paycard_wrap	li.li_paycard	{float:left; width:100%; background:url('/images/member/front/order/line-dotline-yellow.gif') repeat-x 0 0;}
.paycard_wrap	li.card_search	{padding:25px 0 10px 0; background:none; *zoom:1;}
.paycard_wrap	li.card_search	select	{float:left; _margin-top:3px;}
.paycard_wrap	li.card_search	.bg_r_cb	{float:left; margin:6px -15px 0 15px;}
.paycard_wrap	li.card_search	.bg_r_cb	label	{margin-right:31px;}
.paycard_wrap	li.card_search	.desc	{float:left; margin-left:10px; font:11px Dotum; color:#999; line-height:16px;}
li.card_search	.box_credit	{float:left; width:100%; margin-top:10px; background:url('/images/member/front/order/box-credit.gif') no-repeat 0 0;}
li.card_search	.box_credit_b	{float:left; width:100%; background:url('/images/member/front/order/box-credit-bottom.gif') no-repeat 0 bottom;}
li.card_search	.box_credit	ul,	li.card_search	.box_credit	li	{float:left; width:100%;}
li.card_search	.box_credit	li	{padding:11px 0;}
li.card_search	.box_credit	li.txt	{padding:18px 0 17px; *padding:24px 0 17px;}
li.card_search	.box_credit	li	.tit	{display:inline-block; width:133px; height:15px; padding-left:39px; background:url('/images/member/front/order/line-credit.gif') no-repeat right 0; vertical-align:middle}
li.card_search	.box_credit	li	.label	{margin-right:18px;}
li.card_search	.box_credit	li	select	{float:none;}
li.card_search	.box_credit	li	.ico_ques	{display:inline; position:relative; margin-left:-12px; _margin-left:0;}
li.card_search	.box_credit	li	.bx_bubble	{position:absolute; top:20px; left:-149px; width:309px; padding:0; background:url("/images/front/common/bg-q-bubble-v-cap.gif") no-repeat 0 0; z-index:10;}
li.card_search	.box_credit	li	.bx_bubble	div	{margin-top:10px; padding-bottom:8px; background:url("/images/front/common/bg-q-bubble-v-body.gif") no-repeat 0 bottom;}
li.card_search	.box_credit	li	.bx_bubble	.bx_tit	{padding:9px 0 5px 19px; font-weight:bold; color:#333;}
li.card_search	.box_credit	li	.bx_bubble	.p_style1	{padding:0 10px 5px 20px; background:url('/images/member/front/common/bul-circle4.gif') no-repeat 10px 7px; font:11px Dotum; line-height:16px;}
.paycard_wrap	li	.list_event	{margin:15px 0 13px;}
.paycard_wrap	li	.list_event	li	{padding:3px 0 3px 72px; background:url('/images/member/front/common/ico-event-yellow.gif') no-repeat 15px 2px; font:11px Dotum; color:#666; letter-spacing:0; line-height:16px;}
.paycard_wrap	li	.list_card_point	{float:left; width:100%; margin:30px 0; }
.paycard_wrap	li	.list_card_point	li	{float:left; padding-left:15px;}
.paycard_wrap	li	.list_card_point	li.point_right	{margin-left:20px; padding-left:19px; border-left:1px solid #ececec;}

.timebank_wrap	{border-bottom:1px solid #dedede; *zoom:1;}
.timebank_wrap	.list_desc_01	{padding:18px 0 16px 15px;}

.timebank_wrap	{width:100%; overflow:hidden; border-bottom:0;}
.timebank_wrap	p.tit	{padding:30px 0 0 15px;}
.timebank_wrap	.box_credit	{float:left; width:100%; margin-top:10px; background:url('/images/member/front/order/box-credit-01.gif') no-repeat 0 0;}
.timebank_wrap	.box_credit_b	{float:left; width:100%; background:url('/images/member/front/order/box-credit-bottom.gif') no-repeat 0 bottom;}
.timebank_wrap	.box_credit	ul,	.timebank_wrap	.box_credit	li	{float:left; width:100%;}
.timebank_wrap	.box_credit	li	{padding:11px 0;}
.timebank_wrap	.box_credit	li	.tit	{display:inline-block; float:left; width:185px; height:15px; padding-top:9px; padding-left:39px; background:url('/images/member/front/order/line-credit.gif') no-repeat right 8px; font-weight:bold;}
.timebank_wrap	.box_credit	li	.tit.p	{height:35px; padding-top:27px; background:url('/images/member/front/order/line-credit-01.gif') no-repeat right 11px; }
.timebank_wrap	.box_credit	li	.wrap_left	{float:left;}
.timebank_wrap	.box_credit	li	.wrap_left	.input_txt	{_padding-bottom:1px;}
.timebank_wrap	.box_credit	li	.label	{display:inline-block; width:105px;}
.timebank_wrap	.box_credit	li	select	{float:none;}
.timebank_wrap_info	{width:100%; overflow:hidden; padding-top:20px; padding-bottom:25px; border-bottom:1px solid #dedede;}
.timebank_wrap_info	.list_desc_01	{float:left;}
.timebank_wrap_info	.button_right	{float:right; position:static; margin-right:15px; _margin-right:7px;}

.imagine_wrap	{border-bottom:1px solid #dedede; _border-top:1px solid #FFF; _border-left:1px solid #FFF; _border-left:1px solid #FFF;}
.imagine_wrap	.bank_select	{padding:20px 0 0 15px;}
.imagine_wrap	.bank_select	.bank_left	{float:left; margin:5px 20px 0 0; color:#666;}
.imagine_wrap	.list_desc_01	{padding:10px 0 16px 15px;}

.phone_wrap	{border-bottom:1px solid #dedede; _border-top:1px solid #FFF; _border-left:1px solid #FFF; _border-left:1px solid #FFF;}
.phone_wrap	.list_desc_01	{padding:18px 0 16px 15px;}

.explain_wrap	{width:100%; margin:59px 0 56px; text-align:center;}
.explain_wrap	.b_txt	{margin-bottom:11px;}
.explain_wrap	.txt	{line-height:18px;}

/* 마크업 변경후 삭제될 css*/
.tb_h_common_s	{width:100%; overflow:hidden;}
.tb_h_common_s	table	{margin-left:-1px; border-top:2px solid #c7c7c7; border-bottom:0;}
.tb_h_common_s	thead	th	{padding:13px 0; border-bottom:1px solid #c7c7c7; background-color:#f9f9f9; font:normal 13px malgun; color:#333; text-align:center; vertical-align:top}
.tb_h_common_s	thead	th.line	{background:url('/images/member/front/order/line-th-common-s.gif') no-repeat right 6px #f9f9f9;}
.tb_h_common_s	tbody	td	{padding:8px 9px 6px 5px; border-bottom:1px solid #c7c7c7; background:url('/images/member/front/order/bg-dot-r.gif') repeat-y left 0; font:11px Dotum; color:#999; line-height:16px; letter-spacing:0; text-align:right;}
.tb_h_common_s	tbody	td.t_division	{border-left:1px solid #dedede; background:none;}
.tb_h_common_s	tbody	td	p.t_block		{margin-top:3px}
/* //마크업 변경후 삭제될 css*/

/*주문완료 후 총금액*/
.box_order_total	{width:950px; height:133px; margin-top:15px; background:url('/images/member/front/order/box-order-total.gif') no-repeat 0 0;}
.box_order_total	ul	{float:left; margin-left:6px; _margin-left:3px;}
.box_order_total	li	{float:left; width:234px; text-align:center;}
.box_order_total	li	.txt_name	{margin-top:16px; font-weight:bold;}
.box_order_total	li	.txt_number	{margin-top:28px; font:normal 12px malgun, "Malgun Gothic";}
.box_order_total	li	.txt_number	em.t_roman	{position:relative; top:2px; font-size:20px; color:#333; line-height:28px; letter-spacing:0;}
.box_order_total	li.send	{width:226px;}
.box_order_total	li.total	{width:246px; }
.box_order_total	li.total	.txt_number	{margin-top:26px; color:#ee1c24;}
.box_order_total	li.total	.txt_number	em.t_roman	{font-size:24px; color:#ee1c24; line-height:30px; letter-spacing:0;}
.box_order_total	li	.button	{margin-top:-4px;}

.box_order_total2	{position:relative; width:950px; height:122px; margin-top:15px; background:url('/images/member/front/order/box-order-total-2.gif') no-repeat 0 0;}
.box_order_total2	ul	{float:left; margin-left:6px; _margin-left:3px;}
.box_order_total2	li	{float:left; width:234px; text-align:center;}
.box_order_total2	li	.txt_name	{margin-top:16px; font-weight:bold;}
.box_order_total2	li	.txt_number	{margin-top:28px; font:normal 12px malgun, "Malgun Gothic";}
.box_order_total2	li	.txt_number	em.t_roman	{position:relative; top:2px; font-size:20px; color:#333; line-height:28px; letter-spacing:0;}
.box_order_total2	li.send	{width:226px;}
.box_order_total2	li.total	{width:246px;}
.box_order_total2	li.total	.txt_number	{margin-top:26px; color:#ee1c24;}
.box_order_total2	li.total	.txt_number	em.t_roman	{font-size:24px; color:#ee1c24; line-height:30px; letter-spacing:0;}
.box_order_total2	li	.button	{position:absolute; left:310px; top:90px;}

.s_person	{height:30px; margin-top:-24px; padding-left:144px;}
.s_person	.t_11	{padding-top:4px; color:#999;}
.s_person	.t_12	{padding-top:3px; color:#666;}

.box_branch_explain	{padding:15px 0 12px 10px; border-top:1px solid #e6e6e6; background-color:#fff;}
.box_branch_explain	.fl_left	{font:12px Dotum; line-height:16px;}
.box_branch_explain	.fl_left	.t_11	{margin-top:5px; color:#999;}
.box_branch_explain	.fl_right	{padding:15px 15px 0 0;}

.tb_time_select	{margin-top:10px;}
.tb_time_select	td.td_cb	.bg_r_cb	.label	{color:#666;}



/* O2.1.1_배송정보_지점배송 */
.tb_h_common_02	table.no_border_top	{border-top:none;}
.box_deliver_choice	{padding:13px 0 12px 15px; border-top:2px solid #c7c7c7; background:url('/images/member/front/common/line-dot-02.gif') repeat-x 0 bottom #fff;}
.box_deliver_choice	.label	{color:#999 !important;}
.box_deliver_choice	.radio	{margin-right:4px;}

.box_staff_member	{padding:14px 0 11px 15px; margin-bottom:19px; background-color:#fff; border-top:2px solid #c7c7c7; border-bottom:1px solid #dedede;}
.box_staff_member	.bg_r_cb	{margin-top:-1px;}
.box_staff_member	.label	{color:#999 !important; font-size:11px; font-family:dotum;}

.delivery_group	{position:relative; width:100%; padding:17px 0; border-top:2px solid #c7c7c7; background:url('/images/member/front/common/line-dot-02.gif') repeat-x 0 bottom #fff;}
.delivery_group	.tit	{margin-right:15px; padding:2px 0 0 15px; font-size:12px; font-family:dotum; line-height:12px;}
.delivery_group	.chk_group	{float:left;}
.delivery_group	.chk_group	li	{float:left;}
.delivery_group	.chk_group	li	label	{margin-right:28px; _margin-right:18px;}
.delivery_group	.chk_group	li.first	label	{margin-right:18px; _margin-right:8px;}
.delivery_group	span.bar	{padding-left:15px; color:#c4c4c4;}
.delivery_group	.bg_r_cb	.checkbox	{margin-right:6px;}
.delivery_group	.bg_r_cb	.label	{color:#999;font-size:11px; font-family:dotum;}
.delivery_group	.bg_r_cb	.label.show_all	{color:#333;}
.delivery_group	.to_name	{position:absolute; top:10px; right:11px;}

.delivery_prod	.step_1	{float:left; width:432px; padding-right:36px; background:url("/images/front/order/icon-arrow-right.gif") no-repeat 437px 180px;}
.delivery_prod	.step_2	{float:left; width:482px;}
.delivery_prod	.tit	{background:url("/images/front/common/line-dot-02.gif") repeat-x 0 bottom;}
.delivery_prod	h4	{padding:10px 0 16px 77px; border-top:1px solid #bbbbbb; font-size:16px; line-height:16px;}
.delivery_prod	.step_1	h4	{background:url("/images/front/order/tit_step_1.gif") no-repeat 15px 12px;}
.delivery_prod	.step_2	h4	{background:url("/images/front/order/tit_step_2.gif") no-repeat 15px 12px;}
.delivery_prod	.tb_h_c_scroll	{height:254px; border-bottom:1px solid #bbbbbb;}
.delivery_prod	.step_1	.tb_h_c_scroll	{overflow-y:scroll; width:432px;}
.delivery_prod	.step_1	.tb_h_c_scroll	table	{width:412px;}
.delivery_prod	.step_2	.tb_h_c_scroll	{overflow-y:scroll; width:482px;}
.delivery_prod	.step_2	.tb_h_c_scroll	table	{width:462px;}
.delivery_prod	.step_1	.tb_h_common_02	tr	td	{cursor:pointer;}
.delivery_prod	.step_1	.tb_h_common_02	tr.on	td	{background-color:#fbd2d4; font-weight:bold; cursor:default;}

.tb_deliver td.td_cb .bg_r_cb	{margin:0 0 0 60px; text-align:left;}

/*아시아나클럽*/
.tb_asiana	.stit	{margin-bottom:15px; font-weight:bold; color:#333;}
.tb_asiana	.agree	{margin-bottom:7px;}

.pt1	{padding-top:1px;}

.pr17	{padding-right:17px;}

.mr6	{margin-right:6px;}
.mr10	{margin-right:10px;}
.mr20	{margin-right:20px;}
.mr30	{margin-right:30px;}

