@charset "utf-8";
/* body base style */
html, body {  height: 100%;  
	margin: 0;
	padding: 0;
}

*	{margin:0; padding:0;}
html {}
body	 { background-color:#333; font:12px Malgun Gothic, Dotum, sans-serif; color:#333;}

img	{border:0;}
p	{margin:0; padding:0}
dl, dt, dd	{margin:0; padding:0; vertical-align:top}
img		{font-size:0}

#wrap_login	{position:absolute; left:50%; top:50%; width:544px; height:243px; margin:-141px auto 0 -315px; padding:39px 47px 0 40px; background:url('../images/login/bg_login.gif') no-repeat left top;}

.login_top	 {overflow:hidden; height:36px; margin-bottom:30px;}
.login_top h1		{float:left;}
.login_top span	{float:right; margin-top:3px;}

.login_cnt	 {overflow:hidden; height:30px; margin-bottom:20px; padding:20px 0 20px 10px; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
.login_cnt dt		{float:left; margin:7px 20px 0 0;}
.login_cnt dd	{float:left; display:inline;}
.login_cnt dd input	{height:24px; padding:4px 0 0 10px; border-top:1px solid #d4d4d4; border-right:1px solid #ededed; border-bottom:1px solid #ededed; border-left:1px solid #d4d4d4; vertical-align:middle;}
.login_cnt dd input.txt_id		{background:#fff url('../images/login/txt_id.gif') no-repeat 10px 10px;}
.login_cnt dd input.txt_pwd	 {background:#fff url('../images/login/txt_password.gif') no-repeat 10px 10px;}

.btn_login {text-align:center;}

/*padding margin*/
.mr20 {margin-right:20px;}